n8n/workflows/01_digest_matinal.json
{
  "name": "Fusion — Digest matinal GTD",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Chaque matin 8h (lun-ven)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FUSION_API_URL }}/api/inbox",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "50" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "GET Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FUSION_API_URL }}/api/tasks",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "GET Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FUSION_API_URL }}/api/projects",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "GET Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 480]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inbox = $('GET Inbox').first().json;\nconst tasks = $('GET Tasks').first().json;\nconst projects = $('GET Projects').first().json;\n\nconst inboxArr = Array.isArray(inbox) ? inbox : [];\nconst tasksArr = Array.isArray(tasks) ? tasks : [];\nconst projectsArr = Array.isArray(projects) ? projects : [];\n\nconst pending = inboxArr.filter(i => i.status === 'captured').length;\nconst activeTasks = tasksArr.filter(t => t.status === 'todo' || t.status === 'in_progress' || t.status === 'next');\nconst activeProjects = projectsArr.filter(p => p.status === 'active');\n\nconst today = new Date().toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long' });\n\nlet msg = `*Fusion — Digest du ${today}*\\n\\n`;\n\nmsg += `📥 *Inbox* : ${pending} item${pending > 1 ? 's' : ''} en attente\\n`;\nmsg += `✅ *Tâches actives* : ${activeTasks.length}\\n`;\nmsg += `📁 *Projets ouverts* : ${activeProjects.length}\\n\\n`;\n\nif (activeTasks.length > 0) {\n  msg += `*Top tâches :*\\n`;\n  activeTasks.slice(0, 5).forEach(t => {\n    const icon = t.status === 'in_progress' ? '🔄' : '▫️';\n    msg += `${icon} ${t.title}\\n`;\n  });\n}\n\nif (activeProjects.length > 0) {\n  msg += `\\n*Projets :*\\n`;\n  activeProjects.slice(0, 3).forEach(p => {\n    msg += `📂 ${p.title}\\n`;\n  });\n}\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Formater le digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 340]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Envoyer Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 340],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Fusion Bot Telegram"
        }
      }
    }
  ],
  "connections": {
    "Chaque matin 8h (lun-ven)": {
      "main": [
        [
          { "node": "GET Inbox", "type": "main", "index": 0 },
          { "node": "GET Tasks", "type": "main", "index": 0 },
          { "node": "GET Projects", "type": "main", "index": 0 }
        ]
      ]
    },
    "GET Inbox": {
      "main": [[{ "node": "Formater le digest", "type": "main", "index": 0 }]]
    },
    "GET Tasks": {
      "main": [[{ "node": "Formater le digest", "type": "main", "index": 1 }]]
    },
    "GET Projects": {
      "main": [[{ "node": "Formater le digest", "type": "main", "index": 2 }]]
    },
    "Formater le digest": {
      "main": [[{ "node": "Envoyer Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["fusion", "gtd", "digest"]
}
