n8n/workflows/02_rappel_inbox_pending.json
{
  "name": "Fusion — Rappel inbox en attente",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,12,15,18 * * 1-5"
            }
          ]
        }
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000001",
      "name": "Toutes les 3h (heures ouvrées)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FUSION_API_URL }}/api/inbox",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "50" }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000002",
      "name": "GET Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inbox = $('GET Inbox').first().json;\nconst inboxArr = Array.isArray(inbox) ? inbox : [];\n\nconst now = Date.now();\nconst SEUIL_MS = 2 * 60 * 60 * 1000; // 2 heures\n\nconst enAttente = inboxArr.filter(i => {\n  if (i.status !== 'captured') return false;\n  const age = now - new Date(i.created_at).getTime();\n  return age > SEUIL_MS;\n});\n\nreturn [{ json: { count: enAttente.length, items: enAttente } }];"
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000003",
      "name": "Filtrer items > 2h",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000004",
      "name": "Des items en attente ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const count = $json.count;\nconst items = $json.items || [];\n\nlet msg = `⚠️ *Fusion — Inbox en attente*\\n\\n`;\nmsg += `${count} item${count > 1 ? 's' : ''} capturé${count > 1 ? 's' : ''} depuis plus de 2h :\\n\\n`;\n\nitems.slice(0, 5).forEach(i => {\n  const age = Math.floor((Date.now() - new Date(i.created_at).getTime()) / 3600000);\n  msg += `• ${i.content.substring(0, 60)}${i.content.length > 60 ? '...' : ''} _(${age}h)_\\n`;\n});\n\nif (count > 5) {\n  msg += `\\n_...et ${count - 5} autre${count - 5 > 1 ? 's' : ''}_`;\n}\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000005",
      "name": "Formater alerte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000006",
      "name": "Envoyer alerte Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Fusion Bot Telegram"
        }
      }
    }
  ],
  "connections": {
    "Toutes les 3h (heures ouvrées)": {
      "main": [[{ "node": "GET Inbox", "type": "main", "index": 0 }]]
    },
    "GET Inbox": {
      "main": [[{ "node": "Filtrer items > 2h", "type": "main", "index": 0 }]]
    },
    "Filtrer items > 2h": {
      "main": [[{ "node": "Des items en attente ?", "type": "main", "index": 0 }]]
    },
    "Des items en attente ?": {
      "main": [
        [{ "node": "Formater alerte", "type": "main", "index": 0 }],
        []
      ]
    },
    "Formater alerte": {
      "main": [[{ "node": "Envoyer alerte Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["fusion", "inbox", "rappel"]
}
