n8n/workflows/03_fusion_events_webhook.json
{
  "name": "Fusion — Récepteur événements backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fusion-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000001",
      "name": "Webhook Fusion Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fusion-events-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000002",
      "name": "Répondre 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 460]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "rule-task",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "inbox_processed",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inbox_processed"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000003",
      "name": "Type d'événement",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $json.body || $json;\n\nconst bucketIcons = {\n  task: '✅',\n  project: '📁',\n  incubator: '💡',\n  archive: '🗄️',\n  trash: '🗑️'\n};\n\nconst bucket = body.bucket || body.classification?.bucket || '?';\nconst icon = bucketIcons[bucket] || '📌';\nconst content = body.content || body.inboxItem?.content || '(sans contenu)';\nconst reason = body.classification?.reason || body.reason || '';\nconst confidence = body.classification?.confidence;\nconst taskId = body.taskId;\nconst projectId = body.projectId;\n\nlet msg = `${icon} *Fusion — Item traité*\\n\\n`;\nmsg += `*Message :* ${content.substring(0, 100)}\\n`;\nmsg += `*Bucket :* ${bucket}\\n`;\nif (reason) msg += `*Raison :* ${reason}\\n`;\nif (confidence !== undefined) msg += `*Confiance :* ${Math.round(confidence * 100)}%\\n`;\nif (taskId) msg += `\\n🔗 Tâche créée : \\`${taskId}\\``;\nif (projectId) msg += `\\n🔗 Projet créé : \\`${projectId}\\``;\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000004",
      "name": "Formater notif inbox traité",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000005",
      "name": "Notifier Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Fusion Bot Telegram"
        }
      }
    }
  ],
  "connections": {
    "Webhook Fusion Events": {
      "main": [
        [
          { "node": "Répondre 200 OK", "type": "main", "index": 0 },
          { "node": "Type d'événement", "type": "main", "index": 0 }
        ]
      ]
    },
    "Type d'événement": {
      "main": [
        [{ "node": "Formater notif inbox traité", "type": "main", "index": 0 }]
      ]
    },
    "Formater notif inbox traité": {
      "main": [[{ "node": "Notifier Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["fusion", "webhook", "events"]
}
